.course_container {
  /* background-color: var(--star-white); */
  max-height: 90vh;
  border-radius: 4px;
  transition: 0.4s;
  overflow: scroll;
  z-index: 10;
  width:90%;
  margin:0 auto;
}

.course {
  width:100%;
  min-height:220px;
  padding: 10px;
  height:100px;
  padding:6px;
}

.course_content {
  background-color: var(--star-white);
  border-radius: 2px;
  box-shadow: var(--float-shadow);
  transition: 0.4s;
  cursor: pointer;
  overflow: hidden;
  padding-bottom: 10px;
  text-overflow: ellipsis;
}

.course_content:hover {
  box-shadow: var(--hover-shadow);
}

.course_img {
  width:100%;
  object-fit: cover;
  height:80px;
  cursor:default;
}

.course_title {
  padding:0px 10px;
  color: var(--medium-blue);
  font-size: 18px;
  font-weight: 400;
}

.course_description {
  padding:0px 10px;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;

}

.menuTitle {
  font-size: 20px;
  width:300px;
}

.menuDescription {
  font-size: 14px;
}

.menuCourseType {
  display: inline;
  padding:4px 14px;
  background-color: var(--background-green);
  border-radius: 6px;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}

.menuInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuCourseRating {
  display: inline;
}

.course_creator {
  padding:0px 10px;
  font-size: 14px;
  font-weight: 400;
}

.course_progress {
  padding:0px 10px;
  margin:0 auto;
}

.courseType {
  display: inline;
  padding:4px 14px;
  background-color: var(--background-green);
  border-radius: 6px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: 14px;
  left: 16px;
  font-weight: 500;
}

.courseRating {
  position: absolute;
  bottom: 18px;
  right: 16px;
  height:20px;
}

.ratingText {
  font-size: 16px;
  font-weight: 500;
  height:20px;
  vertical-align: text-bottom;
  color: var(--star-yellow-text);
}

.rating {
  height:16px;
  width:16px;
  font-size: 16px;
  color: var(--star-yellow);
}

.percent_complete {
  font-size: 14px;
}

.course_settings {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
  background-color: var(--dark-blue);
  border-radius: 4px;
  width: 10p;
  transition: 0.4s;
}

.follow_course {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  background-color: var(--dark-blue);
  border-radius: 4px;
  width: 10p;
  transition: 0.4s;
}

.course_settings:hover, .follow_course:hover {
  background-color: var(--lab-accent);
}
