<nav id="sidebar">
  <form #createLeftMenuForm="ngForm">
    <!--Left Menu Header Expanded-->
    <div *ngIf="!leftMenuToggled" class="sidebar-header mb-1">

      <h3 *ngIf="courseService.courseModel.courseTitle && !editMenuTitle" class="pl-4 displayHeader"><button (click)="toggleEditCourseTitle()" class="btn hoverBtn p-0 mr-3"><i class="fa fa-edit"></i></button>{{courseService.courseModel.courseTitle}}</h3>

      <div *ngIf="!courseService.courseModel.courseTitle || editMenuTitle" class="input-group titleInput editHeader">
        <input type="text" class="form-control" placeholder="Enter a Course Title" aria-label="Enter Course Title" name="leftMenuTitle" [(ngModel)] = "leftMenuTitle">
        <div class="input-group-append">
          <button (click)="addCourseTitle()" class="btn btn-outline-secondary px-2" type="button"><i class="fa fa-plus"></i></button>
        </div>
        <div class="input-group-append">
          <button (click)="toggleEditCourseTitle()" class="btn btn-outline-secondary delete px-2" type="button"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>

    <!--Left Menu Header Collapsed-->
    <div *ngIf="leftMenuToggled" class="sidebar-header-collapsed mb-1">
      <h3 class="text-center"
      matTooltip="{{courseService.courseModel.courseTitle}}"
      matTooltipClass="custom-tooltip-blue"
      matTooltipPosition="right"><i class="fa fa-compass"></i></h3>
    </div>

    <!--Left Menu Expanded-->
    <div *ngIf="!leftMenuToggled" class="list-container">
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box pl-4 py-3" [class.active]="lecture.lectureActive" *ngFor="let lecture of courseService.courseModel.lectures; let i = index" cdkDrag cdkDragLockAxis="y" [cdkDragDisabled]="editLectureIndex === i" (click)="viewLecture(lecture, i)">
            <div *ngIf="!editLectureToggled || editLectureIndex !== i">
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              <a>
                <span class="d-inline-block text-truncate lectureText">
                  {{lecture.lectureName}}
                </span>
              </a>
              <button (click)="editLecture(lecture, i)" class="btn hoverBtn p-0 ml-2"><i class="fa fa-edit"></i></button>
              <div class="example-handle" cdkDragHandle>
                <i class="fa fa-arrows-alt"></i>
              </div>
            </div>

            <div *ngIf="editLectureToggled && editLectureIndex === i" class="input-group editLectureInput">
              <input type="text" class="form-control" placeholder="{{lecture.lectureName}}" aria-label="Enter Course Title" name="leftMenuTitle" [(ngModel)] = "lecture.lectureName">
              <div class="input-group-append">
                <button (click)="addLectureName()" class="btn btn-outline-secondary px-2" type="button"><i class="fa fa-plus"></i></button>
              </div>
              <div class="input-group-append">
                <button (click)="deleteLecture()" class="btn btn-outline-secondary delete px-2" type="button"><i class="fa fa-trash"></i></button>
              </div>
            </div>
        </div>
        <div *ngIf="!addNewLectureToggled" class="example-box addCourse-box pl-4 py-3" (click)="toggleLectureItemInput()">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="add-new-topic-icon mr-3">add_box</mat-icon>Add Lecture
        </div>
        <div *ngIf="addNewLectureToggled" class="example-box course-input-box py-3 px-0">
          <div class="input-group lectureInput pl-4">
            <input type="text" class="form-control" placeholder="Enter lecture title" aria-label="Enter Lecture Title" name="lectureInput" [(ngModel)]="lectureItem">
            <div class="input-group-append">
              <button (click)="addNewLectureItem()" class="btn btn-outline-secondary px-2" type="button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="input-group-append">
              <button (click)="toggleLectureItemInput()" class="btn btn-outline-secondary px-2 delete" type="button"><i class="fa fa-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--Left Menu Collapsed-->
    <div *ngIf="leftMenuToggled" class="list-container">
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box pl-4 py-3" [class.active]="lecture.lectureActive" *ngFor="let lecture of courseService.courseModel.lectures; let i = index" cdkDrag cdkDragLockAxis="y" (click)="viewLecture(lecture, i)">
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <a matTooltip="{{lecture.lectureName}}"
            matTooltipPosition="after"
            matTooltipClass="custom-tooltip-blue"
            matTooltipPosition="right"><i class="fa fa-book sidebarIcon mr-3" cdkDragHandle></i></a>
        </div>
        <div *ngIf="!addNewLectureToggled" class="example-box addCourse-box pl-4 py-3" (click)="toggleLectureItemInput()"
        matTooltip="Add Lecture"
        matTooltipPosition="after"
        matTooltipClass="custom-tooltip-blue"
        matTooltipPosition="right">
            <i class="fa fa-plus sidebarIcon mr-3"></i>
        </div>
      </div>
    </div>

    <!--Left Menu Toggler Expanded-->
    <div *ngIf="!leftMenuToggled" class="toggleLeftMenu expanded">
      <ul class="list-unstyled components pt-0">
        <li (click)="toggleLeftMenu()">
          <a class="pl-4"><i class="fa fa-arrow-left sidebarIcon mr-3"></i>Collapse Menu</a>
        </li>
      </ul>
    </div>

    <!--Left Menu Toggler Collapsed-->
    <div *ngIf="leftMenuToggled" class="toggleLeftMenu collapsed">
      <ul class="list-unstyled components pt-0">
        <li (click)="toggleLeftMenu()">
          <a class="text-center"
          matTooltip="Expand"
          matTooltipPosition="after"
          matTooltipClass="custom-tooltip-blue"
          matTooltipPosition="right"><i class="fa fa-arrow-right sidebarIcon"></i></a>
        </li>
      </ul>
    </div>
  </form>
</nav>

