<mat-sidenav-container class="dashboard-container" autosize>
  <!-- Side Navigation -->
  <mat-sidenav mode="side" opened disableClose="true" [class.col-md-0-5]="leftMenuCollapsed" [class.col-md-2-5]="!leftMenuCollapsed">
    <app-LeftMenu
    [leftMenu]='leftMenuItems'
    (emitToggleLeftMenu)="toggleLeftMenu($event)"
    (emitTabChanged)="changeLeftMenuTab($event)"></app-LeftMenu>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>

    <div [ngSwitch]="activeItemIndex">
      <div *ngSwitchCase="dashboardMenu.Overview">
        <app-Overview></app-Overview>
      </div>
      <div *ngSwitchCase="dashboardMenu.MyLearning">
        <app-MyLearning></app-MyLearning>
      </div>
      <div *ngSwitchCase="dashboardMenu.MyTeaching">
        <app-MyTeaching></app-MyTeaching>
      </div>
      <div *ngSwitchCase="dashboardMenu.Articles">
        <app-MyResources></app-MyResources>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
