<nav id="sidebar">
    <!--Left Menu Header Expanded-->
    <div *ngIf="!leftMenuToggled" class="sidebar-header mb-1">

      <h3 *ngIf="courseService.courseModel.courseTitle && !editMenuTitle" class="pl-4 displayHeader">{{courseService.courseModel.courseTitle}}</h3>
      <h3 *ngIf="!courseService.courseModel.courseTitle && !editMenuTitle" class="pl-4 displayHeader">Course: {{courseService.courseModel.courseID}}</h3>
    </div>
    <!--Left Menu Header Collapsed-->
    <div *ngIf="leftMenuToggled" class="sidebar-header-collapsed mb-1">
      <h3 class="text-center"
      matTooltip="{{courseService.courseModel.courseTitle}}"
      matTooltipClass="custom-tooltip-blue"
      matTooltipPosition="right"><i class="fa fa-compass"></i></h3>
    </div>


    <!--Left Menu Expanded-->
    <div *ngIf="!leftMenuToggled" class="list-container">
      <div cdkDropList class="creation-list">
        <div class="creation-box pl-4 py-3" [class.active]="lecture.lectureActive" *ngFor="let lecture of courseService.courseModel.lectures; let i = index" (click)="viewLecture(lecture, i)">
            <div *ngIf="!editLectureToggled || editLectureIndex !== i">
                <span class="d-inline-block text-truncate lectureText">
                  {{lecture.lectureName}}
                </span>
            </div>
        </div>
        </div>
      </div>


    <!--Left Menu Collapsed-->
    <div *ngIf="leftMenuToggled" class="list-container">
      <div cdkDropList class="creation-list" (cdkDropListDropped)="drop($event)">
        <div class="creation-box pl-4 py-3" [class.active]="lecture.lectureActive" *ngFor="let lecture of courseService.courseModel.lectures; let i = index" (click)="viewLecture(lecture, i)">
          <div class="creation-custom-placeholder" *cdkDragPlaceholder></div>
            <a matTooltip="{{lecture.lectureName}}"
            matTooltipPosition="after"
            matTooltipClass="custom-tooltip-blue"
            matTooltipPosition="right">
            <i *ngIf="!lecture.lectureActive" class="fa fa-book sidebarIcon mr-3" cdkDragHandle></i>
            <mat-icon *ngIf="lecture.lectureActive" class="sidebarIcon mr-3" cdkDragHandle>menu_book</mat-icon>
            </a>
        </div>
      </div>
    </div>

    <!--Left Menu Toggler Expanded-->
    <div *ngIf="!leftMenuToggled" class="toggleLeftMenu expanded">
      <ul class="list-unstyled components pt-0">
        <li (click)="toggleLeftMenu()">
          <a class="pl-4"><i class="fa fa-arrow-left sidebarIcon mr-3"></i>Collapse Menu</a>
        </li>
      </ul>
    </div>

    <!--Left Menu Toggler Collapsed-->
    <div *ngIf="leftMenuToggled" class="toggleLeftMenu collapsed">
      <ul class="list-unstyled components pt-0">
        <li (click)="toggleLeftMenu()">
          <a class="text-center"
          matTooltip="Expand"
          matTooltipPosition="after"
          matTooltipClass="custom-tooltip-blue"
          matTooltipPosition="right"><i class="fa fa-arrow-right sidebarIcon"></i></a>
        </li>
      </ul>
    </div>
</nav>

