<nav id="sidebar">
  <div class="sidebar-header">
    <h3 class="pl-3">Course Content</h3>
  </div>

  <ul class="list-unstyled components pt-0">
      <li>
          <a href="#" class="pl-4"><i class="fa fa-book sidebarIcon mr-3 "></i>Lecture 1</a>
      </li>
      <li>
          <a href="#" class="pl-4"><i class="fa fa-book sidebarIcon mr-3"></i>Lecture 2</a>
      </li>
      <li>
          <a href="#" class="pl-4"><i class="fa fa-book sidebarIcon mr-3"></i>Lecture 3</a>
      </li>
          <li>
          <a href="#" class="pl-4"><i class="fa fa-book sidebarIcon mr-3"></i>Lecture 4</a>
      </li>
      <li>
          <a href="#" class="pl-4"><i class="fa fa-book sidebarIcon mr-3"></i>Lecture 5</a>
      </li>
      <li>
          <a href="#" class="pl-4"><i class="fa fa-plus-circle sidebarIcon mr-3"></i>New Lecture</a>
      </li>
  </ul>
</nav>

