.card {
  border:none;
  box-shadow: black;
}
.loginInput {
  background-color: white;
}

.loginInput::placeholder {
  color:grey;
}

.loginInput {
  color: var(--dark-grey);
}

.invalidInput {
  border: 1px solid rgb(204, 39, 39);
}

/* .login-btn {
  color:white;
  border:2px solid white;
} */

.login-btn {
  background-color: var(--lab-accent);
  font-weight: 600;
  transition: .3s;
  color: var(--dark-grey);
}

.login-btn:hover{
  background-color: var(--lab-accent);
  filter: brightness(85%);
}

.alt-login-icon {
  font-size: 1rem;
  height: 30px;
  width: 30px;
  border:2px solid lightgrey;
  border-radius: 50%;
  transition: .3s;
}

.alt-login-icon:hover {
  filter: brightness(85%);
}
