.loginHeader {
  color: var(--lab-accent);
  font-size: 22px;
  font-weight: 300;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginActions {
  display:block;
}
