<div class="container-fluid m-0 p-0">
  <!-- Todo: Create custom SVG to populate the splash screen -->
  <img src="../../../assets/clouds.jpg" class="cloudImg" alt="Clouds">
  <h1 class="pt-5 mx-auto homeLargeText">Welcome to a world of learning in the cloud.</h1>
  <div class="row p-0 m-0 getStarted">
      <div class="col mx-auto btn-container">
        <button class="btn btn-outline-info register-btn mr-2" (click)="openRegisterModal()">Get Started Here</button>
      </div>
  </div>
</div>

<!-- Notes:
For Knowledge Givers
CoLab is a community where you can create thoughtful articles and courses to share with others who love to learn. Share what you are passionate, and develop a resource that encourages people to learn, share, and be inspired.

CoLab is perfect for you to create engaging learning if you are
Three Cards -

Teacher, Writer, Technical Proffessional


For Knowledge Seekers:


-->




