<div class="col-md-12 content-nav p-0 m-0" *ngIf="activeLecture">
    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list w-100" (cdkDropListDropped)="drop($event)">
      <div *ngIf="!addNewNavTopic" class="example-box addCourse-box py-3" (click)="toggleNavItemInput()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="add-new-topic-icon mr-3">add_box</mat-icon>Add Tab
    </div>
      <div *ngIf="addNewNavTopic" class="example-box course-input-box py-3 px-0">
        <div class="input-group lectureInput p-0">
          <input type="text" class="form-control" placeholder="Enter lecture title" aria-label="Enter Lecture Title" name="lectureInput" [(ngModel)]="navTopicItem">
          <div class="input-group-append">
            <button (click)="addNewNavTopicItem()" class="btn px-2 add" type="button"><i class="fa fa-plus"></i></button>
          </div>
          <div class="input-group-append">
            <button (click)="toggleNavItemInput()" class="btn px-2 delete" type="button"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
      <div class="example-box" [class.active]="topic.topicActive" *ngFor="let topic of activeLecture.lectureTopics; let i = index" cdkDrag cdkDragLockAxis="x" (click)="switchActiveTopic(i)">
        <ng-container *ngIf="!editTopicToggled || i !== editTopicIndex">
          <p class="m-0">{{topic.topicName}} <i (click)="toggleEditTopic(topic, i)" class="fa fa-edit hoverIcon ml-2"></i></p>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <div class="example-handle" cdkDragHandle><i class="fa fa-arrows-alt"></i></div>
        </ng-container>
        <div *ngIf="editTopicToggled && editTopicIndex === i" class="input-group editTopicInput">
          <input type="text" class="form-control" placeholder="{{topic.topicName}}" aria-label="Enter Course Title" name="leftMenuTitle" [(ngModel)] = "topic.topicName">
          <div class="input-group-append">
            <button (click)="addTopicName()" class="btn btn-outline-secondary px-2" type="button"><i class="fa fa-plus"></i></button>
          </div>
          <div class="input-group-append">
            <button (click)="deleteTopic()" class="btn btn-outline-secondary delete px-2" type="button"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 content-container p-0 m-0">

    <div class="mx-auto pt-4">
      <div class="container editTopicContent p-0">
        <div *ngIf="!activeLecture && !activeTopic" class="newContentPlaceholder">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="newContentArrow mr-3">keyboard_backspace</mat-icon>Add a new lecture to start creating content
          <div class="contentExplanation">
            <div class="explanationIconContainer">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="explanationIcon"
                matTooltip="Step 1: Create your course"
                matTooltipClass="custom-tooltip-blue"
                matTooltipPosition="below">history_edu
              </mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="explanationIcon"
                matTooltip="Step 2: View your creation"
                matTooltipClass="custom-tooltip-blue"
                matTooltipPosition="below">menu_book
              </mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="explanationIcon"
                matTooltip="Step 3: Share your course with your students and other learners"
                matTooltipClass="custom-tooltip-blue"
                matTooltipPosition="below">cast_for_education
              </mat-icon>
            </div>
            <p class="explanationText">Welcome to the course creation editor. To get started add a new Lecture on the lefthand menu. </p>
          </div>
        </div>
        <div *ngIf="activeLecture && activeLecture.lectureTopics.length === 0" class="newContentPlaceholder">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="newContentArrow mr-3">arrow_upward</mat-icon>Add a new topic and pick a learning module
          <div class="contentExplanation">
            <div class="explanationIconContainer">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="explanationIcon"
                matTooltip="Step 1: Create your course"
                matTooltipClass="custom-tooltip-blue"
                matTooltipPosition="below">history_edu
              </mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="explanationIcon"
                matTooltip="Step 2: View your creation"
                matTooltipClass="custom-tooltip-blue"
                matTooltipPosition="below">menu_book
              </mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="explanationIcon"
                matTooltip="Step 3: Share your course with your students and other learners"
                matTooltipClass="custom-tooltip-blue"
                matTooltipPosition="below">cast_for_education
              </mat-icon>
            </div>
            <p class="explanationText">Now you can add some topics to your lecture. You can choose from premade templates, such as (concept, history, resources, quiz), or you can create you own custom topic.</p>
          </div>
        </div>
        <div *ngIf="activeTopic && activeLecture.lectureTopics.length > 0" class="p-2">
          <app-CoLabEditor
          #editor
          [topicTitle]="activeTopic.topicContents.title"
          [topicContents]="activeTopic.topicContents.contents"
          (emitSetTopicContents)="setActiveTopicContents($event)">
        </app-CoLabEditor>
        </div>
    </div>
  </div>
