.content-nav {
  height: 65px;
  background-color: white;
  box-shadow: 0 4px 5px -2px rgb(161, 161, 161);
  z-index: 1;
}

.content-container {
  background-color: white;
  min-height: 96vh;
}

.saveIcon {
  font-size: 30px;
  color: var(--medium-blue);
}

.saveIcon:hover {
  color:var(--lab-accent);
}

.newTopic {
  background-color: var(--lighter-grey);
  border-radius: 6px;
}

.editTopicContent {
  width:80%;
  background-color: var(--lighter-grey);
  border-radius: 6px;
  height:100px;
}


/*Drag and Drop Styling */
.example-list {
  height: 65px;
  display: flex;
  flex-direction: row;
  background: white;
  overflow: hidden;
}

.lectureInput input {
  border:none;
  border-radius: 0px;
}

.lectureInput .btn {
  border:none;
  border-radius: 0px;
}

.lectureInput:hover .btn {
  background-color: white;
}

.lectureInput .delete:hover  {
  color: var(--red);
}

.lectureInput .add:hover  {
  color: var(--lab-accent);
}

.course-input-box{
  min-width:220px;
}

.example-box {
  padding: 22px 10px;
  border-right: solid 1px #ccc;
  height: 65px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-handle {
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.addCourse-box {
  justify-content: start;
}

