.content-nav {
  height: 65px;
  background-color: white;
  box-shadow: 0 4px 5px -2px rgb(161, 161, 161);
  z-index: 1;
}

.content-container {
  background-color: white;
  min-height: 100vh;
  min-width: 100%;
}

.saveIcon {
  font-size: 30px;
  color: var(--medium-blue);
}

.saveIcon:hover {
  color:var(--lab-accent);
}

.newTopic {
  background-color: var(--lighter-grey);
  border-radius: 6px;
}

.editTopicContent {
  width:94%;
  background-color: var(--lighter-grey);
  border-radius: 6px;
  height: 74vh;
  overflow: hidden;
  overflow: scroll;
}


/*Drag and Drop Styling */
.example-list {
  display: flex;
  flex-direction: row;
  background: white;
  overflow: hidden;
}

.lectureInput input {
  border:none;
  border-radius: 0px;
}

.lectureInput .btn {
  border:none;
  border-radius: 0px;
}

.lectureInput:hover .btn {
  background-color: white;
}

.lectureInput .delete:hover  {
  color: var(--red);
}

.lectureInput .add:hover  {
  color: var(--lab-accent);
}

.course-input-box{
  min-width:220px;
}

.example-box {
  padding: 22px 10px;
  border-right: solid 1px #ccc;
  height: 65px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

/* .cdk-drag-placeholder {
  opacity: 0;
} */

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: var(--lighter-grey);;
  border: dotted 3px #999;
  min-height: 60px;
  min-width: 140px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-handle {
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.addCourse-box {
  justify-content: start;
}

.active {
  border-top: 3px solid var(--lab-accent);
}

.content-list {
  width: 100%;
  max-width: 100%;
  /* border: solid 1px #ccc; */
  min-height: 60px;
  display: block;
  background: var(--lighter-grey);
  border-radius: 4px;
  overflow: hidden;
}

.content-box {
  padding: 20px 10px;
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-left: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  transition: .1s;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.content-box:last-child {
  border-bottom: solid 1px #ccc;
}

.content-list.cdk-drop-list-dragging .content-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.content-custom-placeholder {
  background: var(--lightest-blue);
  border: dotted 3px var(--light-grey);
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  display: block;
}

.editor-box {
  margin-bottom: 10px;
  border:4px solid var(--light-blue)!important;
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
  transition: .1s;
  height:70px;
}

.icon{
  font-size:36px;
  transition: .3s;
}

.icon:hover {
  color:var(--red);
}

.hoverBtn {
  visibility: hidden;
  display: none;
  color:white;
  transition: .5s;
}

.hoverBtn:hover {
  color: var(--red)
}

.content-box:hover .hoverBtn {
  visibility: visible;
  display: inline;
  color: var(--medium-blue);
}
