<div class="col-md-12 content-nav p-0 m-0">
  <ng-container *ngIf="activeLecture">
      <div cdkDropList cdkDropListOrientation="horizontal" class="example-list w-100" (cdkDropListDropped)="drop($event)">
        <div class="example-box" [class.active]="topic.topicActive" *ngFor="let topic of activeLecture.topics; let i = index" cdkDrag cdkDragLockAxis="x" (click)="switchActiveTopic(i)" [cdkDragDisabled]="editTopicToggled">
          <ng-container *ngIf="!editTopicToggled || i !== editTopicIndex">
            <p class="m-0 ml-3">{{topic.topicTabName}}</p>
          </ng-container>
          <div *ngIf="editTopicToggled && editTopicIndex === i" class="input-group editTopicInput">
            <input type="text" class="form-control" placeholder="{{topic.topicTabName}}" aria-label="Enter Course Title" name="leftMenuTitle" [(ngModel)] = "topic.topicTabName">
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-md-12 content-container p-0 m-0">
    <div class="mx-auto pt-1">
      <div class="container editTopicContent p-0">
        <div *ngIf="!activeLecture && !activeTopic" class="newContentPlaceholder">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="newContentArrow mr-3">keyboard_backspace</mat-icon>Add a new lecture to start creating content
          <div class="contentExplanation">
            <div class="explanationIconContainer">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="explanationIcon"
                matTooltip="Step 1: Create your course"
                matTooltipClass="custom-tooltip-blue"
                matTooltipPosition="below">history_edu
              </mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="explanationIcon"
                matTooltip="Step 2: View your creation"
                matTooltipClass="custom-tooltip-blue"
                matTooltipPosition="below">menu_book
              </mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="explanationIcon"
                matTooltip="Step 3: Share your course with your students and other learners"
                matTooltipClass="custom-tooltip-blue"
                matTooltipPosition="below">cast_for_education
              </mat-icon>
            </div>
            <p class="explanationText">Welcome to the course creation editor. To get started add a new Lecture on the lefthand menu. </p>
          </div>
        </div>
        <div *ngIf="activeLecture && activeLecture.topics.length === 0" class="newContentPlaceholder">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="newContentArrow mr-3">arrow_upward</mat-icon>Add a new topic and pick a learning module
          <div class="contentExplanation">
            <div class="explanationIconContainer">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="explanationIcon"
                matTooltip="Step 1: Create your course"
                matTooltipClass="custom-tooltip-blue"
                matTooltipPosition="below">history_edu
              </mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="explanationIcon"
                matTooltip="Step 2: View your creation"
                matTooltipClass="custom-tooltip-blue"
                matTooltipPosition="below">menu_book
              </mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="explanationIcon"
                matTooltip="Step 3: Share your course with your students and other learners"
                matTooltipClass="custom-tooltip-blue"
                matTooltipPosition="below">cast_for_education
              </mat-icon>
            </div>
            <p class="explanationText">Now you can add some topics to your lecture. You can choose from premade templates, such as (concept, history, resources, quiz), or you can create you own custom topic.</p>
          </div>
        </div>
        <!-- Main Viewers -->
        <div *ngIf="activeTopic && activeLecture.topics.length > 0" class="p-2">
          <div [ngSwitch]="activeTopic.topicTypeCode">
            <div *ngSwitchCase="topicType.Article">
              <app-CoLabEditor
              #editor
              [activeTopic]="activeTopic"
              [isReadOnly]="true">
              </app-CoLabEditor>
            </div>
            <div *ngSwitchCase="topicType.Concept">
              <app-CoLabEditor
              #editor
              [activeTopic]="activeTopic"
              [isReadOnly]="true">
              </app-CoLabEditor>
            </div>
            <div *ngSwitchCase="topicType.Video">
              <app-VideoEditor
              #editor
              [activeTopic]="activeTopic"
              [isReadOnly]="true">
              </app-VideoEditor>
            </div>
            <div *ngSwitchCase="topicType.Questions">
              <app-CoLabEditor
              #editor
              [activeTopic]="activeTopic"
              [isReadOnly]="true">
              </app-CoLabEditor>
            </div>
            <div *ngSwitchDefault>output2</div>
          </div>
        </div>
  </div>
