<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Bootstrap Sidebar</h3>
  </div>

  <ul class="list-unstyled components pt-0">
      <li>
          <a href="#">o Lecture 1</a>
      </li>
      <li>
          <a href="#">o Lecture 2</a>
      </li>
      <li>
          <a href="#">o Lecture 3</a>
      </li>
          <li>
          <a href="#">o Lecture 4</a>
      </li>
      <li>
          <a href="#">o Lecture 5</a>
      </li>
      <li>
          <a href="#">o Lecture 6</a>
      </li>
  </ul>
</nav>

