<label id="radio-group-label">Add options to select from here: <span class="text-muted">(Select the option you would like to be the correct answer)</span></label>
<mat-radio-group
  aria-labelledby="radio-group-label"
  class="radio-group my-1 w-100" [(ngModel)]="answerIndex" (change)="setCorrectAnswer()">
  <mat-radio-button class="radio-button w-100" *ngFor="let question of questionOptions; let optionIndex = index" color="primary" [value]="optionIndex">
    <!-- <p>{{question.isCorrectAnswer}}, {{optionIndex}}</p> -->
    <input matInput placeholder="Ex. Quantum Quadratics" [(ngModel)]="question.optionText" #optionText="ngModel" name="optionText" class="w-100" (change)="setQuestion(question, optionIndex)">
  </mat-radio-button>
</mat-radio-group>

