.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
.imageContainer {
  width: 100%;
  height: 300px;
  border-radius: 2px;
  margin: 0 auto;
}

.imageContainer img{
  width: 100%;
  border-radius: 2px;
  margin: 0 auto;
  object-fit: cover;
  height: 300px;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  position: relative;
  top: -200px;
}

.spinner {
  display: inline !important;
}
