<div class="save">
  <button (click)="saveContents()" class="btn px-2 saveButton" type="button"><mat-icon aria-hidden="false"    aria-label="Example home icon" class="add-new-topic-icon saveIcon inline-icon--round"
  matTooltip="Save Course"
  matTooltipClass="custom-tooltip-blue"
  matTooltipPosition="left">save</mat-icon></button>
</div>
<div class="editorContainer">
  <ckeditor
    #titleEditor
    [editor]="TitleEditor"
    [config]="{ placeholder:'Title'}"
    data = {{this.topicTitle}}
    class="ckTitle">
  </ckeditor>
  <ckeditor
  #contentEditor
  [editor]="ContentEditor"
  [config]="{ placeholder:'You can talk about the subject more here...'}"
  data = {{this.topicContents}}
  class="ckContent">
</ckeditor>
</div>

