<div class="save">
  <button (click)="saveContents()" class="btn px-2 saveButton" type="button"><mat-icon aria-hidden="false"    aria-label="Example home icon" class="add-new-topic-icon saveIcon inline-icon--round"
  matTooltip="Save"
  matTooltipClass="custom-tooltip-blue"
  matTooltipPosition="left">save</mat-icon></button>
</div>

<!-- Concept -->
<div class="editorContainer" *ngIf="activeTopic.topicTypeCode === topicType.Concept">
  <div class="blackboard">
    <input type="text" id="conceptInput" placeholder="Concept Title">
    <ckeditor
    #contentEditor
    [editor]="ContentEditor"
    [config]= ckConfig
    data = {{this.activeTopic.topicContents.contents}}
    class="ckContent">
  </ckeditor>
  </div>
</div>

<!-- Article -->
<div class="editorContainer" *ngIf="activeTopic.topicTypeCode === topicType.Article">
  <ckeditor
    #titleEditor
    [editor]="TitleEditor"
    [config]="{ placeholder:'Title'}"
    data = "{{this.activeTopic.title}}"
    class="ckTitle">
  </ckeditor>
  <ckeditor
    #contentEditor
    [editor]="ContentEditor"
    [config]="{ placeholder:'You can talk about the subject more here...'}"
    data = {{this.activeTopic.contents}}
    class="ckContent">
  </ckeditor>
</div>

<!-- Applications -->
<div class="editorContainer" *ngIf="activeTopic.topicTypeCode === topicType.Application">
  Applications Editor Will appear here
</div>

<!-- Video -->
<div class="editorContainer" *ngIf="activeTopic.topicTypeCode === topicType.Video">
  Video Editor Will appear here
</div>

<!-- Resources -->
<div class="editorContainer" *ngIf="activeTopic.topicTypeCode === topicType.Resources">
  Resources Editor Will appear here
</div>

<!-- Quiz -->
<div class="editorContainer" *ngIf="activeTopic.topicTypeCode === topicType.Questions">
  Quiz Editor Will appear here
</div>

<!-- Discussion -->
<div class="editorContainer" *ngIf="activeTopic.topicTypeCode === topicType.Discussion">
  Discussion Editor Will appear here
</div>

<!-- Suggestion -->
<div class="editorContainer" *ngIf="activeTopic.topicTypeCode === topicType.Suggestion">
  Suggestion Editor Will appear here
</div>
