.editorContainer {
  width: 100%;
  margin: 0 auto;
}

.embed-responsive {
  border-radius: 4px;
}

p {
  font-size: 40px;
}

.save {
  width: 100%;
  text-align: end;
  position: -webkit-sticky;
  position: sticky;
  top: 8px;
}

.saveIcon {
  font-size: 30px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  color: var(--medium-blue);
  box-shadow: 0px 0px 4px -1px var(--gray);
  transition: .2s;
  padding-top: 7px;
  padding-left: 1px;
}

.saveIcon:hover {
  box-shadow: 0px 0px 12px -1px var(--gray);
  color: var(--light-blue);
}

.ckTitle {
  border-bottom: 1px solid var(--light-grey);
}

/* .ckContent {

} */

.blackboard {
  background-color: var(--background-green);
  height: 58vh;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  /* justify-content: center; */
  align-items: center;
  box-shadow: var(--float-shadow);
}

.blackboardTextArea {
  display: block;
  width: 90%;
  color: var(--star-white);
}

#conceptInput {
  width: 100%;
  margin: 0 auto;
  height: 80px;
  text-align: center;
  font-size: 24px;
  background-color: var(--active-green);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border: 2px solid var(--active-green);
  color: var(--dark-gray);
  margin-bottom: 80px;
}

#conceptInput::placeholder {
  color: var(--lighter-grey);
}

.mat-form-field-label{
  color:var(--star-white) !important;
}
.mat-form-field-underline{
  background-color:var(--star-white) !important;
}

.videoContainer {
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}

#videoInput {
  width: 100%;
  margin: 0 auto;
  height: 60px;
  text-align: center;
  font-size: 22px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 2px dashed var(--light-grey);
  color: var(--dark-gray);
}

.videoPlaceholder {

}
