<nav class="shadow-sm navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar base_nav_color px-5">
  <a class="navbar-brand mr-0 mr-md-2 colab-text" href="/" aria-label="Bootstrap"><i class="fa fa-flask mr-1 lab-text"></i>Co<span class="lab-text">Lab</span></a>

  <div class="navbar-nav-scroll ml-4" *ngIf="!authenticationService.isAuthenticated()">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item mr-4">
        <a class="nav-link" href="/learn">Learn</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="/explore">Explore</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="/create">Create</a>
      </li>
      <li class="nav-item mr-4" *ngIf="authenticationService.isAuthenticated()">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
    </ul>
  </div>

  <div class="navbar-nav-scroll ml-4" *ngIf="authenticationService.isAuthenticated()">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item mr-4">
        <a class="nav-link" href="/explore">Explore</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="/create">Create</a>
      </li>
      <li class="nav-item mr-4" *ngIf="authenticationService.isAuthenticated()">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <!-- <li class="nav-item mr-4 searchContainer">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control searchInput" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary searchButton" type="button"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </li> -->
    </ul>
  </div>

  <div class="ml-md-auto">
    <app-TopNavLogin></app-TopNavLogin>
  </div>

</nav>
