<!-- Video -->
<div class="videoContainer" [class.viewMode]="isReadOnly">
  <input *ngIf="!isReadOnly" type="text" id="videoInput" placeholder="Enter a Video Url" [(ngModel)]="activeTopic.topicTitle">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe *ngIf="activeTopic.topicTitle" class="embed-responsive-item" [src]="activeTopic.topicTitle | safe: 'resourceUrl'" allowfullscreen></iframe>
  </div>
  <div class="embed-responsive embed-responsive-16by9 videoPlaceholder" *ngIf="!activeTopic.topicTitle">
  </div>
</div>
