<!--Dashboard Courses-->
<div class="media_container row p-0 mx-auto mt-2">
  <p class="m-2 container_heading px-5">Recently Created</p>
  <div class="course_container m-0 row justify-content-start">
    <div *ngIf="recentlyCreated.length == 0" class="col-4 pl-5">
      <app-CourseCardPlaceholder [placeholderMessage] = 'recentlyCreatedPlaceholder'></app-CourseCardPlaceholder>
    </div>
    <div *ngIf="recentlyCreated.length > 0">
      <app-CoLabCarousel [slides]="recentlyCreated" [coursesPerSlide]="3" class="h-100"></app-CoLabCarousel>
    </div>
  </div>
</div>

<!--Dashboard Courses-->
<div class="media_container row p-0 mx-auto mt-2">
  <p class="m-2 container_heading px-5">Recently Viewed</p>
  <div class="course_container m-0 row justify-content-start">
    <div *ngIf="recentlyViewed.length == 0" class="col-4 pl-5">
      <app-CourseCardPlaceholder [placeholderMessage] = 'recentlyCreatedPlaceholder'></app-CourseCardPlaceholder>
    </div>
    <div *ngIf="recentlyViewed.length > 0">
      <app-CoLabCarousel [slides]="recentlyViewed" [coursesPerSlide]="3" class="h-100"></app-CoLabCarousel>
    </div>
  </div>
</div>
